<div class="jumbotron">
  <h1>NFL Exercise</h1>
  <p class="lead">
    This is a sample Node.js application that displays some NFL data from the 2012 season.
    <br /><br />
    Please get started by choosing <strong>Teams</strong> or <strong>Players</strong> above.
  </p>
</div>