<div class="row">
  <div class="col-md-12">
    <h1>Players</h1>
    <p class="lead">
      List of all players, by name.
    </p>
  </div>

  <section class="grid-section clearfix">
  {{#players}}
    {{> player-grid-item}}
  {{/players}}
  </section>
</div>